
.form__input_policy { display: none; }

.form__input_policy + .form__label_policy {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.form__input_policy + .form__label_policy:last-child { margin-bottom: 0; }

.form__input_policy + .form__label_policy:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.form__input_policy:checked + .form__label_policy:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}