.budget__container.budget__container_cost {
    display: flex;
    justify-content: space-between;
    padding: 12px 45px 0 48px;

    @media screen and (max-width: 1224px) {
        flex-direction: row;
        width: 83%;
    }

    @media screen and (max-width: 550px) {
        position: relative;
        width: 88%;
        padding: 16px 20px 0 20px;
    }
}

