@import url('./__item/help-icons__item.css');
@import url('./__image/help-icons__image.css');
@import url('./__text/help-icons__text.css');

.help-icons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 276px);
    column-gap: 44px;
    row-gap: 32px;
    justify-content: center;
}