@import './__content-title/budget__content-title.scss';
@import './__content-subtitle/budget__content-subtitle.scss';
@import './__container/budget__container.scss';
@import './__paragraph/budget__paragraph.scss';
@import './__line/budget__line.scss';
@import './__position/budget__position.scss';
@import './__list/budget__list.scss';

.budget {
  font-family: $font-normal;
  background-color: $background-color-budget;
  min-height: 564px;
  margin-top: 56px;
  padding-top: 60px;

  @media screen and (max-width: 1224px) {
    padding-top: 48px;
    min-height: 872px;
  }

  @media screen and (max-width: 700px) {
    min-height: 894px;
  }

  @media screen and (max-width: 550px) {
      margin-top: 0;
      padding-top: 38px;
  }
}
