$body-color: red;
$font-light: "Helvetica Neue Cyr Light";
$font-normal: "Helvetica Neue Cyr Normal";
$font-bold: "Helvetica Neue Cyr Bold";

$background-color: #FFFFFF;
$background-color-budget :#B0EDDB;
$mistakes: #ED180B;
$placeholder: #969696;
$active: #FC691B;
$color-heading: #5A3F98;
$color-heading-light: #9397CB;
$color-footer: #D2D4EB;
$color-text: #333235;


%phrase {
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

%text-big {
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

%text-desktop {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

%text-mobile {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

%text-bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

%text-mini {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

%text-mini-bold-mobile {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

%text-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

body {
  color: $placeholder;
  font-family: $font-normal;
  @extend %text-footer;
}
