.text_type_note {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
}


@media (max-width: 1070px) {
    .header-content__company-name .text_type_note {
        display: none;
    }
}