@import url('./__info/donations__info.css');
@import url('./__help-icons/donations__help-icons.css');
@import url('./__share-icons/donations__share-icons.css');

.donations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}