@import './__info/donations__info.scss';
@import './__help-icons/donations__help-icons.scss';
@import './__share-icons/donations__share-icons.scss';

.donations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}