@import './_position/budget__container_position.scss';
@import './_cost/budget__container_cost.scss';

.budget__container {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1224px) {
    flex-direction: column;
    align-items: center;
  }
}
