.budget__position {
  background-color: $background-color;
  flex-direction: column;
  border-radius: 8px;
  min-width: 548px;
  padding: 33px 0 35px 0;

  @media screen and (max-width: 700px) {
      min-width: 448px;
  }

  @media screen and (max-width: 550px) {
      min-width: 328px;
      max-width: 328px;
      padding: 22px 0 34px 0;

  }
}

.budget__position:last-of-type {
  @media screen and (max-width: 1224px) {
      margin-top: 24px;
  }
  @media screen and (max-width: 550px) {
    margin-top: 32px;
  }
}
