@import './__title/company-name__title.scss';
@import './__subtitle/company-name__subtitle.scss';

.company-name {
    display: flex;
    flex-direction: column;

    @media (max-width: 700px) {
        align-items: center;
    }
}