.budget__content-title {
    max-width: 550px;
    margin: 0 auto 5px auto;
    @extend %text-bold;
    color: $color-heading;
    letter-spacing: 0.6px;
    text-align: center;

    @media screen and (max-width: 1224px) {
    }

    @media screen and (max-width: 550px) {
        max-width: 313px;
    }
}

