@import './__info/footer-content__info.scss';
@import './__company-name/footer-content__company-name.scss';
@import './__button-help/footer-content__button-help.scss';
@import './__contacts/footer-content__contacts.scss';
@import './__logo-link/footer-content__logo-link.scss';

.footer-content {
    position: relative;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 52px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



@media (max-width: 700px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}