@import './_fund/video__container_fund.scss';

.video__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;

    @media screen and (max-width: 1224px) {
      align-items: center;
      max-width: 704px;
      margin: 0 auto;
    }
}

.video__container:nth-child(1) {
  @media screen and (max-width: 1224px) {
    order: 2;
  }
}