.popup__container {
  position: relative;
  padding: 50px;
  border-radius: 12px;
  margin: 0 auto;
  background-color: $background-color;

  @media screen and (max-width: 810px) {
    padding: 32px;
  }

  @media screen and (max-width: 362px) {
    padding: 0;
    border-radius: 1px;
  }
}