@import './__social/header-content__social.scss';
@import './__button-help/header-content__button-help.scss';

.header-content {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}