@import './__player/video__player.scss';
@import './__btn/video__btn.scss';
@import './__container/video__container.scss';
@import './__image/video__image.scss';
@import './__paragraph/video__paragraph.scss';

.video {
    display: flex;
    justify-content: space-between;
    padding: 71px 100px 40px 100px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    @media screen and (max-width: 1224px) {
      flex-direction: column;
    }

    @media screen and (max-width: 768px) {
      padding: 59px 100px 36px 100px;
    }

    @media screen and (max-width: 704px) {
      padding: 56px 0 0 0;
      margin-bottom: -20px;
   }
}

