.achievements__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 560px) and (max-width: 1243px) {
    .achievements__text-container {
        order: 2;
    }
}

@media (max-width: 559px) {
    .achievements__text-container {
        order: 2;
    }
}