.video__player {
    width: 860px;
    height: 484px;
    outline: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1400px) {
      width: 704px;
      height: 396px;
  }

    @media screen and (max-width: 360px) {
      width: 100%;
      height: auto;
  }
}