.budget__paragraph.budget__paragraph_training {
  text-align: center;
  color: $color-heading;
  @extend %text-big;
  margin: 20px 48px 0 48px;
  padding: 14px 0 34px 3px;
  border-top: 1.2px dashed $color-heading-light;

  @media screen and (max-width: 1224px) {
      width: 83%;
  }

  @media screen and (max-width: 550px) {
    width: 88%;
    margin: 23px 48px 0 48px;
    padding: 15px 0 34px 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}
