@import './__text-container/achievements__text-container.scss';
@import './__title/achievements__title.scss';
@import './__text/achievements__text.scss';
@import './__image/achievements__image.scss';

.achievements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    column-gap: calc((100vw - 1244px)/(1440 - 1244) * (136 - 44) + 44px);
    row-gap: 32px;
    justify-items: center;
    justify-content: center;
    align-items: center;

    @media (min-width: 560px) and (max-width: 1243px) {
        grid-template-columns: 500px;
    }
    
    @media (max-width: 559px) {
        box-sizing: border-box;
        grid-template-columns: calc(100% - 16px);
    }
}

