@import './_sum/budget__paragraph_sum.scss';
@import './_training/budget__paragraph_training.scss';
@import './_position/budget__paragraph_position.scss';

.budget__paragraph {
  @extend %text-desktop;

  @media screen and (max-width: 550px) {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
  }
}