.header__company-name {
    max-width: 424px;
    margin-left: 54px;
    margin-right: auto;
    padding-bottom: 8px;

    @media (min-width: 930px) and (max-width: 1070px) {
        padding-bottom: 12px;
    }

    @media (max-width: 640px) {
        display: none;
    }
}