.team__item {
    
    padding-bottom: 60px;
    &:last-child {
        padding-bottom: 0;
    }
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    column-gap: 12px;
    row-gap: 32px;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 360px) and (max-width: 768px) {
        padding-bottom: 48px;
        padding-bottom: calc((100vw - 360px)/(768 - 360) * (48 - 38) + 38px);
    }

    @media (max-width: 359px) {
        padding-bottom: 38px;
    }

    @media (min-width: 560px) and (max-width: 1250px) {
        grid-template-columns: minmax(360px, 500px);
        justify-content: center;
    }
    
    @media (max-width: 559px) {
        grid-template-columns: calc(100% - 16px);
        justify-items: center;
        justify-content: center;
    }
}