.form__label_position_right {
  padding-left: 20px;

  @media screen and (max-width: 433px) {
    padding-left: 10px;
  }
}

.form__label_position_left {
  padding-right: 20px;

  @media screen and (max-width: 433px) {
    padding-right: 10px;
  }
}