.header-content__company-name {
    padding-bottom: 8px;
}

.footer-content__company-name {
    width: 264px;
    grid-area: company;
}

@media (max-width: 700px) {
    .footer-content__company-name {
        text-align: center;
    }
}